head {

}

body {

}

h1 {

}

.Movie1 {
    margin-bottom: auto;

}

.movie_title1{

}

.movie_review1{
    
}

.Movie2{
    width:200px;
  margin:auto;

}

.movie_title2{

}

.movie_review2{
    
}

.Movie3 {
    width:100px;
  margin:auto;

}

.movie_title3{

}

.movie_review3{
    
}

.Movie4 {
    width:350px;
  margin:auto;

}

.movie_title4{

}

.movie_review4{
    
}

.Movie5 {
    width:300px;
  margin:auto;

}

.movie_title5{

}

.movie_review5{
    
}



.movie_image{

}

.movie_trailer{

}