body {
    background-color: rgb(5, 136, 16);
  }
  
  .container {
    padding:auto;
    border: 10px solid black;
    margin:auto;
    height:auto;
    width:auto;
    background-color: rgb(255, 255, 255);

  }

  
  h1 {
    padding:auto;
    border: 10px solid black;
    margin:auto;
    height:auto;
    width:auto;
    font-size: 36px;
    color: #0A0E29;
    
  }
  
  h2 {
    padding:auto;
    border: auto solid black;
    margin:auto;
    height:auto;
    width:auto;
    font-size: 24px;
  }

  .pic1 {
    padding:auto;
    border: auto solid black;
    margin:10px 0px 0px 0px;
    height:auto;
    width:auto;
  }

  .pic2 {
    padding: 30px 0px 0px 80px;
    border: 10px solid black;
    margin:0px 0px 0px 700px;
    height:auto;
    width:auto;
  }
  
  
  
    